.Home, h1 {
  text-align: center;
  color: #fbd1dd;
  text-decoration: wavy underline #FD4F7B;
  text-decoration-thickness: 4px;
  padding-top: 20px
}

.Home {
  text-align: center;
  text-decoration: none;
  color: #FD4F7B;
}

.Home, ul{
  text-align: center;
  text-decoration: none;
  color: #FD4F7B;
  list-style-type: none;

}

.Navigation {
  text-align: center;
}






